@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Outfit", sans-serif;
}

select, input, textarea {
    border: 1px solid #eefff2;
    outline-color: #aaf2bb;
    border-radius: 4px;
}

.active{
    background-color: #eefff2;
    border-color: #a7f1b8;
    
}